body {
    color: #FFF;
    background-image: linear-gradient(to right, #E65763, #34073D);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: center;
}

#tasks-container {
    margin: auto;
    width: 500px;
}

/*Tasks Form*/
#tasks-header {
    margin-top: 40px;
}

#add-task-form {
    position: relative;
}

#add-task-form input {
    background: #FFF;
    border: 1px solid #34073D;
    box-sizing: border-box;
    color: #34073D;
    font-size: 18px;
    padding: 15px;
    width: 100%;
}

#add-task-form input::placeholder-shown {
    color: #34073D;
}

#add-task-form input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    background: #fff;
    border: 1px solid #34073D;
    cursor: pointer;
    height: 52.5px;
    right: 0;
    top: 0;
    padding-top: 3px;  /* alinha mais ao centro o + */
    transition: .5s;
    width: 60px;
}

#add-btn:hover {
    background-color: #34073D;
    color: #FFF;
}

ion-icon {       /*aumenta font do + */
    font-size: 25px; 
}


/* tasks container */

#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    background-color: #FFF;
    border-bottom: 3px solid #34073D;
    color: #34073D;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin-right: auto;
    margin-left:  auto;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
    text-align: left;
    transition: .5s;
    width: 500px;
}

#task-list li span {
    font-size: 18px;
}

#task-list ion-icon {
    position: absolute; /*pra poder mecher no check e remove*/
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.done-btn {
    right: 40px;
}

.done-btn:hover {
    color: #FFF;
    background-color: #09E01B;
}

.remove-btn {
    right: 0;
}

.remove-btn:hover {
    color: #FFF;
    background-color: #EB0927;
}

.hide {
    display: none;
}

#task-list li.done {
    background-color: #34073D;
    color: #FFF;
    text-decoration: line-through;
}